body{
  position: relative;
  margin: 0 auto;
  background-color: bisque;
}
h1{
  text-align: center;
  background-color: rgb(222, 135, 183);
  font-family: 'Fugaz One', cursive;
  font-size: 60px;
  margin-top: -10px;
}
.search-list{
  text-align: center;
}
.links{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  background-color: rgb(222, 135, 183);
}
#links{
  width: 25px;
  padding: 5px;
}

.main{
  display: flex;
  justify-content: space-between;
    flex-direction: row;
    margin: 20px 0 10px 0
}
.mood {
  font-family: 'Fugaz One', cursive;
  font-size: 26px;
}
#mood1{
  text-align: right;
}
#mood2 {
  text-align: left;
}
ul{
  list-style-type: none;
}
.lyrics-text{
  font-family: 'Palanquin', sans-serif;
  font-size: 20px;
  text-align: center;
  /* padding: 5px 50px; */
}
.test{
  
}
#song-artist, #song-title{
  font-family: 'Fugaz One', cursive;
  font-size: 16px;
  width: 150px;
}
button{
  font-family: 'Fugaz One', cursive;
  font-size: 16px;
}


#like {
  width: 20px;
}

footer{
  
  text-align: center;
  bottom: 20px;
  justify-content: flex-end;
}