body{
  margin: 0 auto;
  text-align: center;
  border: 2px solid black;
  background-color: bisque;
}
h1{
  text-align: center;
  background-color: rgb(222, 135, 183);
  font-family: 'Fugaz One', cursive;
  font-size: 60px;
  margin-top: -10px;
}
.links{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  background-color: rgb(222, 135, 183);
}
#links{
  width: 25px;
  padding: 5px;
}

.main{
  display: flex;
  justify-content: space-between;
    flex-direction: row;
    margin: 20px 0 10px 0
}
.mood {
  /* position: relative;
  display: flex; */
  border: 2px solid black;
  font-family: 'Fugaz One', cursive;
}
.lyrics-text{
  border: 2px solid black;
  font-family: 'Palanquin', sans-serif;
  font-size: 20px;
  padding: 5px 50px;
}
.test{
  border: 2px solid black;
}
#song-artist, #song-title{
  font-family: 'Fugaz One', cursive;
  font-size: 16px;
  width: 150px;
}
button{
  font-family: 'Fugaz One', cursive;
  font-size: 16px;
}


#like {
  width: 20px;
}